@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  background-color: #008aff;
  border-radius: 0 0 0 200px;
  padding: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__logo {
    margin-right: 78px; }
    @media (max-width: 960px) {
      .header__logo {
        margin-left: 20px; } }
  .header__top {
    width: 100%;
    margin-top: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 920px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 960px) {
    .nav {
      display: none; } }
  .nav__mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .nav__item {
    margin-right: 64px; }
  .nav__link {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase; }
    @media (max-width: 960px) {
      .nav__link--active {
        display: none; } }
    .nav__link--active::before {
      position: absolute;
      content: "";
      height: 2px;
      background-color: #ff9c8e;
      width: 100%;
      bottom: -6px; }

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 905px; }
  .main__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 490px; }
    @media (max-width: 960px) {
      .main__info-block {
        margin: auto;
        max-width: 1150px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .main__info-block--mobile {
      display: none; }
  .main__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px; }
  .main__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    max-width: 362px;
    margin-bottom: 83px; }
  .main__button {
    width: 226px;
    height: 50px;
    background-color: #ff9c8e;
    border-radius: 64px; }
  .main__link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    color: #fff; }

.slider {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 680px;
  width: 43%;
  border-radius: 200px 0 0 0;
  background-image: url("../images/slider/slide-1.png");
  background-position: center;
  background-size: cover; }
  @media (max-width: 960px) {
    .slider {
      display: none; } }
  .slider__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 48px;
    bottom: 48px; }
  .slider__arrows-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 24px; }
  .slider__arrow-box {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border-radius: 50%; }
    .slider__arrow-box:first-child {
      margin-right: 8px; }
  .slider__name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .slider__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #fff; }

.mobile-menu {
  margin: auto;
  display: none; }

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.nav__item-mobile {
  display: block;
  margin-bottom: 30px; }

.nav__link-mobile {
  font-size: 30px; }

.hamburger {
  display: none !important;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px; }
  @media (max-width: 960px) {
    .hamburger {
      display: block !important; } }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* Fade out the second bar */
.change .bar2 {
  opacity: 0; }

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.section {
  padding: 148px 30px; }
  .section-approach {
    padding: 0;
    margin-top: -70px; }
  .section--vision {
    position: relative;
    padding: 198px 20px; }

.about-us {
  max-width: 754px;
  margin: auto; }
  .about-us__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .about-us__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6C788B; }

.our-expertise {
  max-width: 1150px;
  margin: auto; }
  .our-expertise__heading {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 64px; }
  .our-expertise__options {
    display: grid;
    grid-template-columns: repeat(3, 264px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-row-gap: 20px; }
    @media (max-width: 1253px) {
      .our-expertise__options {
        grid-template-columns: 1fr; } }

.our-exp-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .our-exp-option__image {
    width: 184px;
    height: 166px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 20px;
    margin-bottom: 40px; }
  .our-exp-option__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 16px; }
  .our-exp-option__text {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6C788B;
    max-width: 600px; }

.process {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  max-width: 1150px;
  margin: auto; }
  @media (max-width: 910px) {
    .process {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .process__cards {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-column-gap: 30px;
    grid-row-gap: 30px; }
    @media (max-width: 670px) {
      .process__cards {
        grid-template-columns: 264px; } }

.info {
  max-width: 362px;
  margin-bottom: 20px; }
  @media (max-width: 910px) {
    .info {
      max-width: 600px; } }
  .info__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #C0CDD7;
    margin-bottom: 16px; }
  .info__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;
    margin-bottom: 24px; }
  .info__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6C788B; }

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 32px; }
  .card:nth-child(1), .card:nth-child(3) {
    -webkit-transform: translateY(140px);
            transform: translateY(140px); }
    @media (max-width: 910px) {
      .card:nth-child(1), .card:nth-child(3) {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }
  .card__number {
    position: relative;
    width: 46px;
    height: 24px;
    border-radius: 23px;
    margin-bottom: 24px; }
    .card__number::after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px; }
  .card__list {
    margin-bottom: 32px; }
  .card__item {
    list-style-type: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%; }
  .card__button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__button {
    width: 40px;
    height: 40px;
    background-color: #008aff;
    border: 0;
    border-radius: 50%;
    margin-right: 16px; }
  .card__arrow {
    width: 16px;
    height: 16px;
    -o-object-position: center;
       object-position: center; }
  .card__link {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #253757; }

.card__number--1 {
  background-color: rgba(86, 204, 242, 0.1); }
  .card__number--1::after {
    content: "001";
    color: #56CCF2; }

.card__button--1 {
  background-color: #56CCF2; }

.card__number--2 {
  background-color: rgba(252, 201, 29, 0.1); }
  .card__number--2::after {
    content: "002";
    color: #fcc91d; }

.card__button--2 {
  background-color: #fcc91d; }

.card__number--3 {
  background-color: rgba(21, 216, 80, 0.1); }
  .card__number--3::after {
    content: "003";
    color: #15D850; }

.card__button--3 {
  background-color: #15D850; }

.card__number--4 {
  background-color: rgba(243, 99, 99, 0.1); }
  .card__number--4::after {
    content: "004";
    color: #F36363; }

.card__button--4 {
  background-color: #F36363; }

.approach {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 976px;
  border-radius: 200px 0 0 200px;
  padding-left: 9vw;
  background-color: #ff9c8e; }
  @media (max-width: 1160px) {
    .approach {
      padding: 0;
      height: 650px;
      border-radius: 0; } }
  .approach__text {
    max-width: 362px; }
    @media (max-width: 1160px) {
      .approach__text {
        margin: auto;
        max-width: 900px; } }
  .approach__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 16px; }
  .approach__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 32px;
    color: #fff; }
  .approach__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 687px;
    height: 680px; }
    @media (max-width: 1160px) {
      .approach__image {
        display: none; } }

.appr-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .appr-option:not(:last-child) {
    margin-bottom: 64px; }
  .appr-option__circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #fff; }
    @media (max-width: 1160px) {
      .appr-option__circle {
        margin-right: 15px; } }
  .appr-option__icon {
    margin: auto;
    height: 24px;
    width: 24px; }
  .appr-option__text {
    max-width: 264px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #fff; }
    @media (max-width: 1160px) {
      .appr-option__text {
        max-width: 600px; } }

.testimonials {
  max-width: 1150px;
  margin: auto; }
  @media (max-width: 970px) {
    .testimonials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .testimonials__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #C0CDD7; }
  .testimonials__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 82px; }
  .testimonials__list {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 970px) {
      .testimonials__list {
        grid-template-columns: 314px; } }
  .testimonials__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px; }
  .testimonials__photo {
    position: relative;
    margin-bottom: 82px; }
  .testimonials__image {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    z-index: 1; }
  .testimonials__oval {
    position: absolute;
    width: 139px;
    height: 56px;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
    .testimonials__oval--blue {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56CCF2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2; }
    .testimonials__oval--yellow {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #FCC304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304; }
    .testimonials__oval--pink {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #F25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656; }
    .testimonials__oval--left {
      top: -10px;
      left: -40px; }
    .testimonials__oval--right {
      bottom: -10px;
      right: -40px; }
  .testimonials__quotes {
    margin-bottom: 10px; }
  .testimonials__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6C788B;
    margin-bottom: 16px; }
  .testimonials__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757; }
  .testimonials__work {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #C0CDD7; }

.vision {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .vision__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    max-width: 754px; }
  .vision__header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 24px; }
  .vision__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6C788B;
    text-align: center;
    margin-bottom: 64px; }
  .vision__button {
    width: 226px;
    height: 56px;
    background-color: #ff9c8e;
    border: 0;
    border-radius: 64px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff; }
  .vision__oval {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 85.61px;
    width: 33.84px;
    border: 3px solid #ff9c8e;
    top: 15%;
    left: 22%; }
    @media (max-width: 650px) {
      .vision__oval {
        display: none; } }
    .vision__oval:nth-child(2) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 45.28px;
      width: 17.9px;
      border: 3px solid #fcc304;
      top: 15%;
      left: 40%; }
    .vision__oval:nth-child(3) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 53.69px;
      width: 21.22px;
      border: 3px solid #bc04fc;
      left: 90%; }
    .vision__oval:nth-of-type(4) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 143.04px;
      width: 56.54px;
      border: 3px solid #03d542;
      top: 25%;
      left: 78%; }
    .vision__oval:nth-of-type(5) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 67.36px;
      width: 26.63px;
      border: 3px solid #56CCF2;
      top: 55%;
      left: 10%; }
    .vision__oval:nth-of-type(6) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 143.04px;
      width: 56.54px;
      border: 3px solid #03d542;
      top: 50%;
      left: 20%; }
    .vision__oval:nth-of-type(7) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 85.61px;
      width: 33.84px;
      border: 3px solid #ff9c8e;
      top: 55%;
      left: 72%; }
    .vision__oval:nth-of-type(8) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 86.41px;
      width: 34.16px;
      border: 3px solid #fcc304;
      top: 50%;
      left: 90%; }
    .vision__oval:nth-of-type(9) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 93.54px;
      width: 36.98px;
      border: 3px solid #bc04fc;
      top: 70%;
      left: 12%; }
    .vision__oval:nth-of-type(10) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 45.28px;
      width: 17.9px;
      border: 3px solid #fcc304;
      top: 75%;
      left: 40%; }
    .vision__oval:nth-of-type(11) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 45.28px;
      width: 17.9px;
      border: 3px solid #bc04fc;
      top: 80%;
      left: 60%; }
    .vision__oval:nth-of-type(12) {
      position: absolute;
      border-radius: 500px;
      opacity: 0.5;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      height: 153.61px;
      width: 60.72px;
      border: 3px solid #56ccf2;
      top: 65%;
      left: 80%; }

.footer {
  padding: 180px 30px 80px;
  background-color: #008aff;
  border-radius: 0 200px 0 0; }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    padding: 15px; }
    @media (max-width: 770px) {
      .footer__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px; }
  @media (max-width: 770px) {
    .form {
      margin-bottom: 25px; } }
  .form__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff; }
  .form__input {
    position: relative;
    background-color: #008aff;
    color: #fff;
    height: 41px;
    width: 100%; }
    .form__input::-webkit-input-placeholder {
      color: #fff; }
    .form__input::-moz-placeholder {
      color: #fff; }
    .form__input:-ms-input-placeholder {
      color: #fff; }
    .form__input::-ms-input-placeholder {
      color: #fff; }
    .form__input::placeholder {
      color: #fff; }
  .form__button {
    width: 226px;
    height: 56px;
    background-color: #ff9c8e;
    border-radius: 64px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff; }

.input__wrap {
  position: relative;
  margin-bottom: 48px; }
  .input__wrap:before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #fff;
    border-color: #fff;
    width: 100%;
    bottom: -2px;
    right: 0; }

.contact__heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 56px; }
  @media (max-width: 770px) {
    .contact__heading {
      margin-bottom: 15px; } }

.contact__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 8px; }

.contact__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #fff; }

.form__link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: #fff; }

html,
body,
p,
ul,
li,
button,
textarea,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #eee;
  font-family: Open Sans, sans-serif; }

main {
  max-width: 1600px;
  margin: auto; }

button {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

button:focus {
  outline: none; }

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
